# ignore redundant directories:
BraveSoftware
Code
Electron
Google
Mbed\ Studio
Popcorn-Time
QtProject.conf
SEGGER
Signal
Slack
Synology
Thunar
Unknown\ Organization
balena-etcher
balena-etcher-electron
aloofileinformationrc
cargo
cargo.old
cef_user_data
chromium
#coc
#configstore
#dconf/
deluge/
discord/
#dolphinrc
#dunst/
google-chrome/
gtk-3.0/
#htop/
#i3/
#kconf_updaterc
kde.org/
kdeglobals
#kitty/
#knfsshare
#menus/
#mimeapps.list
#mpd/
#ncmpcpp/
nvim-qt/
#nvim/
#obs-studio/
ok/
olivevideoeditor.org/
#pavucontrol.ini
#picom/
#polybar.old/
#polybar/
protonvpn/
#pscircle/
#pulse/
session/
spotify/
#systemd/
transmission/
#trashrc
#user-dirs.dirs
#user-dirs.locale
#vlc/
#whoozle.github.io/
#xfce4/
#zoomus.conf

