[Unit]
Description=Runs pscircle to continuously update desktop wallpaper 

[Service]
Environment=DISPLAY=:0
ExecStart=/bin/bash -c "while true; do pscircle --background-image=/home/neekon/.config/pscircle/wallpaper.png --output-width=3840 --output-height=2160 --output=/home/neekon/.config/systemd/user/pscircle.png && hsetroot -full "/home/neekon/.config/systemd/user/pscircle.png"; sleep 2; done"

[Install]
WantedBy=default.target

